*{
    box-sizing:border-box;
}
body{
    background:linear-gradient(135deg,#0b0f1a,#0f172a,#020617);
    color:white;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    text-align: center;
    font-family:'poppins',sans-serif;
    width:100%;
    padding-top: 80px;
}
/*HEADER SECTION*/
.navbar{
    display:flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    align-items: center;
    z-index: 1000;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    padding: 15px 50px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
h3{
    font-size:20px;
    font-weight: bold;
    color:white
}
h3 span{
    color:#3b82f6;
}
.links{
    display: flex;
    list-style: none;
    gap:25px
}
.links a{
    text-decoration: none;
    color:white;
    transition: 0.3s;
    font-size:14px;
}
.links a:hover{
    color: #3b82f6;
    text-decoration: underline;
}
.hireme a{
    text-decoration: none;
    color: white;
    border: 1px solid #3b82f6;
    border-radius: 20px;
    padding:8px 15px;
}
.hireme a:hover{
    background-color: #3b82f6;
}
/*HERO SECTION*/
.hero-section{
    position:relative;
    min-height: 100vh;
    width:100%;
    display:flex;
    justify-content: space-between;
    background:radial-gradient(circle at 70% 50%, rgba(59,130,246,0.2),transparent 40%),#020617;
    padding:0 80px;
    align-items: center;
}
.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0.5;
    gap: 15px;
    position:relative;
    z-index:2;
}
.hero-content p{
    max-width: 500px;
}
#first{
    color:#3b82f6;
}
.hero-content h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 20px rgba(255,255,255,0.2);
}
.hero-section h2{
    font-size:28px;
    background: linear-gradient(90deg,#3b82f6,#00aaff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#second{
    opacity: 70px;
}
.buttons a{
    gap:15px;
    border:1px solid #3b82f6;
    text-decoration: none;
    color:white;
    padding: 12px 25px;
    border-radius: 25px;
}
#view-project{
    color:white;
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    box-shadow: 0 0 20px rgba(59,130,246,0.5);
    transition: 0.3s;
}
#view-project:hover{
    transform: scale(1.05);
}
#hire:hover{
    background-color: #3b82f6;
}
.findme{
    position:relative;
    top:35px;
}
.icons{
    display:flex;
    gap:15px;
    position: relative;
    top:15px;
    margin-top: 10px;
}
.icons i{
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.05);
    padding:7px;
}
#myphoto img{
    overflow: hidden;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position:relative;
}

/*ABOUT ME SECTION*/
.about-Me{
    display:flex;
    justify-content: space-between;
    min-height:100%;
    padding: 80px 10%;
    max-width: 1200px;
    margin:auto;
    gap:100px;
}
.aboutMe-information{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
    gap:20px;
}
.aboutMe-information h2{
font-size: 35px;
}
#firstp{
    color:#3b82f6;
}
.addition-information {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
    background: rgba(255,255,255,0.01);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter:blur(80px);
    border-radius: 15px;
    padding: 15px;
    width: 50%;
    height: 50%;
    border:1px solid rgba(255,255,255,0.05);
}
.addition-information a{
    display: flex;
    gap: 15px;
    padding: 15px;
    text-decoration: none;
    color:#3b82f6;
}
span{
    color:white;
}
/*SKILLS SECTION*/
.skill-section{
    height: 100%;
    padding: 15px;
}
#openskills{
    color:#3b82f6;
}
.setOfMySkills{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap: 20px;
}
.skill{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding:20px;
    border-radius: 15px;
    text-align: center;
    color:white;
    border: 1px solid rgba(255,255,255,0.05);
}
#h2{
    font-size: 35px;
}
#html{
    color: rgb(225, 33, 33);
    font-size: 45px;
    font-weight: bolder;
}
#css{
    color:#3b82f6;
    font-size: 45px;
    font-weight: bolder;
}
#js{
    color:orange;
    font-size: 45px;
    font-weight: bolder;
}
#react{
    color:aqua;
    font-size: 45px;
    font-weight: bolder;
}
#node-js{
    color:greenyellow;
    font-size: 45px;
    font-weight: bolder;
}
 #mongodb{
    color: green;
    font-size: 45px;
    font-weight: bolder;
 }
 #git-alt{
    color:orangered;
    font-size:45px;
    font-weight:bolder;
 }
 #github{
    color:white;
    font-size:45px;
    font-weight:bolder;
 }
 #tailwind{
    color:rgba(19, 114, 188, 0.952);
    font-size:45px;
    font-weight: bolder;
 }
 .progress-bar{
    width:100%;
    height:8px;
    background: rgba(255,255,255,0.05);
    border-radius:20px;
 }
 .html-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height: 100%;
    width:95%
 }
 .css-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:90%;
 }
 .js-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:85%;
 }
 .react-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:80%;
 }
 .nodejs-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:80%;
 }
 .expressjs-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:75%;
 }
 .mongodb-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:75%;
 }
 .g-progress{
    background:linear-gradient(#3b82f6,#00aaff);
    height:100%;
    width:90%;
 }
 .github-progress{
    background: linear-gradient(90deg,#3b82f6,#00aaff);
    height: 100%;
    width:90%;
 }
 .tailwind-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height: 100%;
    width: 85%;
 }
 .value{
    color:rgba(255,255,255,0.3);
 }
 /*PROJECT SECTION*/
 .projects-section p{
    color:#3b82f6;
 }
 .projects-section h2{
    font-size:35px;
 }
 .project{
    position: relative;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding:30px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.05);
    bottom: 20px;
 }
 .MyProjects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
 }
 .projects-button a{
    text-decoration: none;
    color: white;
    border:1px solid #3b82f6;
    border-radius: 20px;
    padding: 15px;
 }
 .projects-button{
    display: flex;
    gap: 60px;
 }
 .projects-layout{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0;
 }
 .moreProjects a{
    text-decoration:none;
    color:#3b82f6;
    border:solid 1px #3b82f6;
    border-radius:20px;
    padding:15px;
 }
 .moreProjects{
    position: relative;
    margin-top: 30px;
    bottom: 15px;
 }
.projects-section{
    margin-top: 30px;
    padding: 50px;
}
.livedemo-button{
    background-color: #3b82f6;
    padding: 15px;
    border-radius: 20px;
}
.photo{
    width:100%;
    border-radius: 15px;
    height: 180px;
    object-fit: cover;
}
.top{
    position: relative;
    bottom:20px;
}
/*CONTACT SECTION*/
.myContacts{
    margin-top: 70px;
    padding: 50px;
}
#contactp{
    color: #3b82f6;
}
.contact-layout h2{
    font-size:35px;
    text-align: center;
}
.contact-layout p{
    color:rgba(255,255,255,0.5);
    opacity: 0.7px;
    text-align: center;
}
.contact a{
    background: rgba(255,255,255,0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    border:1px solid rgba(255,255,255,0.05);

}
.contact-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
}
#envelope,#whatsapp{
font-size: 24px;
padding: 15px;
border-radius: 50%;
background: rgba(255,255,255,0.05);
position: relative;
}
#envelope{
    color:#3b82f6;
}
#whatsapp{
    color:#25d366;
}
.information{
    position: relative;
    text-align: center;
    padding-left: 70px;
    bottom: 70px;
    line-height: 0.7;
}
#email{
    padding-right: 135px;
    color: rgba(255,255,255,0.5);
}
#number{
    color: rgba(255,255,255,0.5);
}
/*FOOTER SECTION*/
.right-footer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    justify-content: left;
    font-size: 14px;
}
.middle-footer{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-bottom: 0;
    text-align: center;
}
.footer{
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.01);
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 25px 50px;
    margin-bottom: 0; background:radial-gradient(circle at 70% 50%, rgba(59,130,246,0.2),transparent 40%),#020617;
    align-items: center;
}
.genious{
    color:#3b82f6;
}
.footer-icons{
    display: flex;
    gap:15px;
}
.footer-icons i{
    border-radius: 50%;
    background: rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    padding: 12px;
    font-size: 16px;
}
@media (max-width:768px){

body{
    overflow-x:hidden;
}

/* NAVBAR */
.navbar{
    padding:15px 20px;
    flex-wrap:wrap;
}

.links{
    gap:15px;
    flex-wrap:wrap;
    justify-content:center;
    padding:0;
}

/* HERO SECTION */
.hero-section{
    padding:40px 20px;
    gap:40px;
    flex-wrap:wrap;
    justify-content:center;
}

.hero-content{
    flex:1 1 350px;
    width:100%;
    line-height:1.2;
}

.hero-content h1{
    font-size:clamp(2.5rem,8vw,4rem);
}

.hero-section h2{
    font-size:22px;
}

#myphoto{
    flex:1 1 300px;
    display:flex;
    justify-content:center;
}

#myphoto img{
    width:300px;
    height:300px;
    max-width:100%;
}

/* BUTTONS */
.buttons{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

/* ABOUT */
.about-Me{
    flex-wrap:wrap;
    padding:50px 20px;
    gap:40px;
}

.aboutMe-information{
    flex:1 1 350px;
    width:100%;
}

.aboutMe-information h2{
    font-size:clamp(2rem,7vw,3rem);
}

.addition-information{
    flex:1 1 300px;
    width:100%;
}

/* SKILLS */
.setOfMySkills{
    grid-template-columns:
    repeat(auto-fit,minmax(140px,1fr));
}

/* PROJECTS */
.MyProjects{
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
}

.projects-section{
    padding:40px 20px;
}

.projects-button{
    gap:15px;
    flex-wrap:wrap;
}

/* CONTACT */
.contact-info{
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
}

.contact-layout h2{
    font-size:clamp(2rem,8vw,4rem);
}

.contact a{
    width:100%;
}

.information{
    padding-left:70px;
    bottom:70px;
}

/* FOOTER */
.footer{
    flex-wrap:wrap;
    gap:30px;
    padding:30px 20px;
}

.middle-footer{
    flex-wrap:wrap;
}

.footer-icons{
    flex-wrap:wrap;
}

}