*{
    box-sizing:border-box;
}
body{
    background:linear-gradient(135deg,#0b0f1a,#0f172a,#020617);
    color:white;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    text-align: center;
    font-family:'poppins',sans-serif;
    width:100%;
    padding-top: 80px;
}
/*HEADER SECTION*/
.navbar{
    display:flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    align-items: center;
    z-index: 1000;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    padding: 15px 50px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
#name-nav{
    font-size:20px;
    font-weight: bold;
    color:white;
}
#name-nav span{
    color:#3b82f6;
}
.links{
    display: flex;
    list-style: none;
    gap:25px
}
.links a{
    text-decoration: none;
    color:white;
    transition: 0.3s;
    font-size:14px;
}
.links a:hover{
    color: #3b82f6;
    text-decoration: underline;
}
.hireme a{
    text-decoration: none;
    color: white;
    border: 1px solid #3b82f6;
    border-radius: 20px;
    padding:8px 15px;
}
.hireme a:hover{
    background-color: #3b82f6;
}
/*HERO SECTION*/
.hero-section{
    position:relative;
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content: space-between;
    background:radial-gradient(circle at 70% 50%, rgba(59,130,246,0.2),transparent 40%),#020617;
    padding:0 80px;
    align-items: center;
}
.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0.5;
    gap: 15px;
    position:relative;
    z-index:2;
}
.hero-content p{
    max-width: 500px;
}
#first{
    color:#3b82f6;
}
.hero-content h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 20px rgba(255,255,255,0.2);
}
.hero-section h2{
    font-size:28px;
    background: linear-gradient(90deg,#3b82f6,#00aaff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#second{
    opacity: 70px;
}
.buttons a{
    gap:15px;
    border:1px solid #3b82f6;
    text-decoration: none;
    color:white;
    padding: 12px 25px;
    border-radius: 25px;
}
#view-project{
    color:white;
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    box-shadow: 0 0 20px rgba(59,130,246,0.5);
    transition: 0.3s;
}
#view-project:hover{
    transform: scale(1.05);
}
#hire:hover{
    background-color: #3b82f6;
}
.findme{
    position:relative;
    top:35px;
}
.icons{
    display:flex;
    gap:15px;
    position: relative;
    top:15px;
    margin-top: 10px;
}
.icons i{
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.05);
    padding:7px;
}
#myphoto img{
    overflow: hidden;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position:relative;
}

/*ABOUT ME SECTION*/
.about-Me{
    display:flex;
    justify-content: space-between;
    min-height:100%;
    padding: 80px 10%;
    max-width: 1200px;
    margin:auto;
    gap:100px;
}
.aboutMe-information{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
    gap:20px;
}
.aboutMe-information h2{
font-size: 35px;
}
#firstp{
    color:#3b82f6;
}
.addition-information {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
    background: rgba(255,255,255,0.01);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter:blur(80px);
    border-radius: 15px;
    padding: 15px;
    width: 50%;
    height: 50%;
    border:1px solid rgba(255,255,255,0.05);
}
.addition-information a{
    display: flex;
    gap: 15px;
    padding: 15px;
    text-decoration: none;
    color:#3b82f6;
}
span{
    color:white;
}
/*SKILLS SECTION*/
.skill-section{
    height: 100%;
    padding: 15px;
}
#openskills{
    color:#3b82f6;
}
.setOfMySkills{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap: 20px;
}
.skill{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding:20px;
    border-radius: 15px;
    text-align: center;
    color:white;
    border: 1px solid rgba(255,255,255,0.05);
    min-height: 180px;
}
#h2{
    font-size: 35px;
}
#html{
    color: rgb(225, 33, 33);
    font-size: 45px;
    font-weight: bolder;
}
#css{
    color:#3b82f6;
    font-size: 45px;
    font-weight: bolder;
}
#js{
    color:orange;
    font-size: 45px;
    font-weight: bolder;
}
#react{
    color:aqua;
    font-size: 45px;
    font-weight: bolder;
}
#node-js{
    color:greenyellow;
    font-size: 45px;
    font-weight: bolder;
}
 #mongodb{
    color: green;
    font-size: 45px;
    font-weight: bolder;
 }
 #git-alt{
    color:orangered;
    font-size:45px;
    font-weight:bolder;
 }
 #github{
    color:white;
    font-size:45px;
    font-weight:bolder;
 }
 #tailwind{
    color:rgba(19, 114, 188, 0.952);
    font-size:45px;
    font-weight: bolder;
 }
 .progress-bar{
    width:100%;
    height:8px;
    background: rgba(255,255,255,0.05);
    border-radius:20px;
 }
 .html-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height: 100%;
    width:95%
 }
 .css-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:90%;
 }
 .js-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:85%;
 }
 .react-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:80%;
 }
 .nodejs-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:80%;
 }
 .expressjs-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:75%;
 }
 .mongodb-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height:100%;
    width:75%;
 }
 .g-progress{
    background:linear-gradient(#3b82f6,#00aaff);
    height:100%;
    width:90%;
 }
 .github-progress{
    background: linear-gradient(90deg,#3b82f6,#00aaff);
    height: 100%;
    width:90%;
 }
 .tailwind-progress{
    background:linear-gradient(90deg,#3b82f6,#00aaff);
    height: 100%;
    width: 85%;
 }
 .value{
    color:rgba(255,255,255,0.3);
 }
 /*PROJECT SECTION*/
 .projects-section p{
    color:#3b82f6;
 }
 .projects-section h2{
    font-size:35px;
 }
 .project{
    position: relative;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding:30px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.05);
    bottom: 20px;
 }
 .MyProjects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
 }
 .projects-button a{
    text-decoration: none;
    color: white;
    border:1px solid #3b82f6;
    border-radius: 20px;
    padding: 15px;
 }
 .projects-button{
    display: flex;
    gap: 60px;
 }
 .projects-layout{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0;
 }
 .moreProjects a{
    text-decoration:none;
    color:#3b82f6;
    border:solid 1px #3b82f6;
    border-radius:20px;
    padding:15px;
 }
 .moreProjects{
    position: relative;
    margin-top: 30px;
    bottom: 15px;
 }
.projects-section{
    margin-top: 30px;
    padding: 50px;
}
.livedemo-button{
    background-color: #3b82f6;
    padding: 15px;
    border-radius: 20px;
}
.photo{
    width:100%;
    border-radius: 15px;
    height: 180px;
    object-fit: cover;
}
.top{
    position: relative;
    bottom:20px;
}
/*CONTACT SECTION*/
.myContacts{
    margin-top: 70px;
    padding: 50px;
}
#contactp{
    color: #3b82f6;
}
.contact-layout h2{
    font-size:35px;
    text-align: center;
}
.contact-layout p{
    color:rgba(255,255,255,0.5);
    opacity: 0.7px;
    text-align: center;
}
.contact a{
    background: rgba(255,255,255,0.05);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    border:1px solid rgba(255,255,255,0.05);

}
.contact-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
}
#envelope,#whatsapp{
font-size: 24px;
padding: 15px;
border-radius: 50%;
background: rgba(255,255,255,0.05);
position: relative;
}
#envelope{
    color:#3b82f6;
}
#whatsapp{
    color:#25d366;
}
.information{
    position: relative;
    text-align: center;
    padding-left: 70px;
    bottom: 70px;
    line-height: 0.7;
}
#email{
    padding-right: 135px;
    color: rgba(255,255,255,0.5);
}
#number{
    color: rgba(255,255,255,0.5);
}
/*FOOTER SECTION*/
.right-footer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    justify-content: left;
    font-size: 14px;
}
.middle-footer{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-bottom: 0;
    text-align: center;
}
.footer{
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.01);
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 25px 50px;
    margin-bottom: 0; background:radial-gradient(circle at 70% 50%, rgba(59,130,246,0.2),transparent 40%),#020617;
    align-items: center;
}
.genious{
    color:#3b82f6;
}
.footer-icons{
    display: flex;
    gap:15px;
}
.footer-icons i{
    border-radius: 50%;
    background: rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    padding: 12px;
    font-size: 16px;
}
/*RESPONSIVENESS-DESIGN*/
@media(max-width:768px){
    /*navbar*/
    .navbar{
        flex-wrap: wrap;
        padding:5px 10px;
        flex-direction: column;
        width: 100%;
        line-height: 1px;
    }
    #name-nav{
        position:relative;
        right:95px;
    }
    .hireme a{
        position:relative;
        bottom: 56px;
        left: 137px;
        overflow:hidden;
    }
    /*HERO SECTION*/
    .hero-section{
        flex-wrap: wrap;
        padding:20px;
        height: 40vh;
    }
    .hero-content{
        gap:2px;
        display: flex;
        flex-direction: column;
    }
    .hero-content h1{
        font-size:30px;
    }
    .hero-content h2{
        position:relative;
        font-size:20px;
        font-family: sans-serif;
        bottom:20px;
    }
    #second{
        position:relative;
        bottom: 40px;
        line-height: 1.2;
    }
    .buttons a{
        display: grid;
    }
    #hire{
        position:relative;
        left:170px;
        bottom:65px;
    }
    #myphoto img{
        position:relative;
        width: 200px;
        bottom:500px;
        left:200px;
    }
    /*ABOUT-ME SECTION*/
    .about-Me{
        flex-wrap:wrap;
        padding: 20px 5%;
    }
    .aboutMe-information{
        position: relative;
        width: 100%;
    }
    .addition-information{
        width: 100%;
    }
    /*SKILLS SECTION*/
    .setOfMySkills{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    /*PROJECTS SECTION*/
    .MyProjects{
        display:grid;
        grid-template-columns:1fr;
    } 
    .project-p{
        line-height:1.1;
    } 
    .project{
        width:300px;
    }
    /*CONTACT SECTION*/
    .myContacts{
        padding: 10px;
        margin-top:30px;
    }
    .contact a{
        padding: 0.1px;
    }
    .contact-info{
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
    }
    /*FOOTER SECTION*/
    .footer{
        padding:5px 10px;
        flex-wrap: wrap;
        line-height: 0.5;
        font-size: xx-small;
    }
    .footer-icons{
        gap:9px;
    }
    .footer-icons i{
        position:relative;
        font-size:7px;
        padding: 6px;
        left: 200px;
    }
    .right-footer{
        position:relative;
        top: 20px;
        font-size: 7px;
    }
    .middle-footer{
        position: relative;
        right:70px;
    }
    #envelope,#whatsapp{
        position:relative;
        top:20px;
        left:10px;
    }
    #email,#number{
        position:relative;
        top:20px;
    }
    #p{
        position:relative;
        top:20px;
    }
    }
  
